<div id="particles-js"> </div>

<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<link rel="stylesheet" type="text/css" href="/css/hack_home.css" />
    <div class = "container">  
     <div class = "content">
    		<h1 class = "capo">MULtimodal freight optimization</h1>
              <p>
                This is a prototype of a <strong> real time </strong> multimodal freight optimization system that can be used at ports. 
              </p>
              <a class = "option" href = "/demo/freight-optimization-prototype">
              	<div class = "lnk-std capo" >EXPLORE</div>
              </a>
              <!--<a id = "feat_scroll" class = "option" href = "#features">
              	<div class = "lnk-inverse capo" >Features</div>
              </a>
-->    </div>
  </div>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
<script src="/js/part.js"></script>
