<div id="particles-js"> </div>

<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<link rel="stylesheet" type="text/css" href="/css/hack_home.css" />
    <div class = "container">  
     <div class = "content">
        <h1 class = "capo">Traffic COllision Analytics</h1>
              <p>
                This is a prototype of a <strong> traffic collision </strong> analytics platform for urban areas along with a probabilistic collision predictor.
              </p>
              <a class = "option" href = "/demo/road-safety-dashboard">
                <div class = "lnk-std capo" >EXPLORE</div>
              </a>
              <!--<a id = "feat_scroll" class = "option" href = "#features">
                <div class = "lnk-inverse capo" >Features</div>
              </a>
-->    </div>
  </div>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
<script src="/js/part.js"></script>
