<style>

body{
	margin-top:-20px;
}

h1{
	padding-top: 125px;
	font-size:4em;
}

h1, h2, p{
	text-align:center;
	color:white;
}

.bk a{
	color: white;
	background: transparent;
	border: 2px solid white;
	text-decoration: none;
	font-size:2em;
	padding:10px;
}

.bk a:hover{
	color: #402060;
	background:white;
}
.err{
	min-height:100%;
	font-weight: 100;
	font-family: "Roboto Slab", Arial;
	background-color: #402060;
	margin-top:0px;
}


</style>
<div class = "err">
<h1>Not Found</h1>
<h2>Status: {{status}}</h2>
<p>That's all we know</p>
<div class = "bk" style = "text-align:center; margin-top:13%;">
	<a href = "/">Go to home</a>
</div>
</div>