    <link href="css/product-page.css" rel="stylesheet">

<!-- Header -->
    <div class="intro-header">
        <div class="container">
	<div class= "layer"></div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
					    
                        <h1 class = "capo">IRONHINGE</h1>
                        <hr class="intro-divider">
                        <h3>Machine learning based text analytics platform</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">
		<h1 class= "capo">FEATURES</h1>
		<div class = "wrap">
		<h4 class= "super-thin"><strong>Ironhinge</strong> is cloud based text analytics platform that lets you analyze, compile and mine text data of any form and size.</h4>
        </div>    
			 <div class = "row">
                <div class="col-lg-6 col-sm-6">
                  <div class = "row">
                      <div class = "col-md-4"> 
                           <div class = "img-wrap">
                              <img class="img-responsive" src="img/pull-data.png" alt="">
                           </div>
                       </div>
                       <div class = "col-md-8"> 
                            <h3 class="capo">DATA INTEGRATION AND STORAGE</h3>
                            <hr class="section-heading-spacer">
                        <p class="lead">Backend infrastructure to store, integrate and secure all of your data. Pull data automatocally from pre-set data sources, add your own data on the go. Have access to both raw, unstructed as well as structured, processed data.</p>
                 
                       </div>
                     </div>
                    </div>
                <div class="col-lg-6 col-sm-6">
                  <div class = "row">
                      <div class = "col-md-4"> 
                           <div class = "img-wrap">
                              <img class="img-responsive" src="img/algorithmic.png" alt="">
                           </div>
                       </div>
                       <div class = "col-md-8"> 
                            <h3 class="capo">ALGORITHMIC PROCESSING</h3>
                            <hr class="section-heading-spacer">
                        <p class="lead">Algorithmic capablities that analyze the data and summerize the results in a human-centric model. Algorithms that aid the user whilst wading through the data, providing useful insights on the go - augmenting the capablity of the user.</p>
                 
                       </div>
                     </div>
                    </div>
            </div>
            <br /><br />
            <div class = "row">
				<div class="col-lg-6 col-sm-6">
                  <div class = "row">
					  <div class = "col-md-4"> 
                           <div class = "img-wrap">
						      <img class="img-responsive" src="img/own-modle.png" alt="">
					       </div>
                       </div>
					   <div class = "col-md-8"> 
                            <h3 class="capo">FLEXIBLITY AND CUSTOMIZABLITY</h3>
                            <hr class="section-heading-spacer">
                        <p class="lead">Ability to add your own data model and define your own relationships. Fully customizable analytics report, ability to save the analytical
                        insights for later revision. As easy as it gets to find what's needed.</p>
                 
					   </div>
                     </div>
                    </div>
                <div class="col-lg-6 col-sm-6">
                  <div class = "row">
                      <div class = "col-md-4"> 
                           <div class = "img-wrap">
                              <img class="img-responsive" src="img/viz-data.png" alt="">
                           </div>
                       </div>
                       <div class = "col-md-8"> 
                            <h3 class="capo">HUMAN-CENTRIC UI WITH VISUALIZATION</h3>
                            <hr class="section-heading-spacer">
                        <p class="lead">User interfaces that revolve around the human. Interactive graphs that effectively summerize the data and make the most important insights
                        most easy to understand. More information is always a click away.</p>
                 
                       </div>
                     </div>
                    </div>
            </div>
			<br /><br />
             <div class = "row">
                <div class="col-lg-6 col-sm-6">
                  <div class = "row">
                      <div class = "col-md-4"> 
                           <div class = "img-wrap">
                              <img class="img-responsive" src="img/maps-supp.png" alt="">
                           </div>
                       </div>
                       <div class = "col-md-8"> 
                            <h3 class="capo">GEOLOCATION SUPPORT</h3>
                            <hr class="section-heading-spacer">
                        <p class="lead">All your location based data can be charted on a map with revelant data, making it easier to obtain context whilst 
                        analysis. Variety of map options available enabling the user to dig deeper into the data.</p>
                 
                       </div>
                     </div>
                    </div>
                <div class="col-lg-6 col-sm-6">
                  <div class = "row">
                      <div class = "col-md-4"> 
                           <div class = "img-wrap">
                              <img class="img-responsive" src="img/search-data.png" alt="">
                           </div>
                       </div>
                       <div class = "col-md-8"> 
                            <h3 class="capo">FULL-FLEDGED SEARCH</h3>
                            <hr class="section-heading-spacer">
                        <p class="lead">Provision for full-text querying across all data in the system, both structured and unstructured. Each search query is complemented with 
                        the most relevant and associated data with insights and visualization.</p>
                 
                       </div>
                     </div>
                    </div>
            </div>
            <br /><br />

        </div>
        <!-- /.container -->
                    <a class= "lnk-std capo" href = "demo">SEE IRONHINGE IN ACTION</a>

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-8  col-sm-8">
                    <h2 class=" capo">IT'S ALL ON THE CLOUD</h2>
                    <hr class="section-heading-spacer">
                    <p class="lead">Our servers do all the heavy lifting. Making large scale data analytics smooth, easy and affordable. LifeAnalytics is an end to end Software as a Service (SaaS).</p>
                </div>
                <div class="col-lg-4  col-sm-4">
					<div class = "img-wrap">
                    <img class="img-responsive" src="img/cloud.png" alt="">
					</div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
<a  name="contact"></a>
    
